
.main_container{
  background-color: var(--foreground);
}
.hero_section{
  height: 177vh;
  width: 100%;
  background-color: var(--background);
}
.intro{
  display: flex;
  justify-content: flex-end;
  position: sticky;
  font-size: 110px;
  line-height:85px;
  top: 0;
  left: 0;
  height: 47%;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  mix-blend-mode: difference;
  overflow: hidden;
}
.introtexte{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  mix-blend-mode: difference;
}
.pic{
  z-index: -1;
  overflow: hidden;
  position: absolute;
  bottom: 12%;
  left: 10%;
  height: 70vh;
  width: 28vw;
}
.pic2{
  z-index: -1;
  overflow: hidden;
  position: absolute;
  right: 10%;
  bottom: 4%;
  height: 70vh;
  width: 28vw;
}
.code{
  margin-left: 25%;
}
.deploy{
  margin-left: 10%;
}
.dot{
  line-height: 0;
  font-size: 70px;
  color: red;
}
.service_container{
  color: var(--background);
  position: absolute;
  display: grid;
  grid-template-rows:1fr 2fr;
  height: 100vh;
  background-color: var(--foreground);
}
.services{
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  gap: 5.5rem;
  align-items: center;
  line-height: initial;
  height: fit-content;
  /* padding: 0 0.5rem; */
}
.services_text{
  position: sticky;
  z-index: 3;
  display: flex;
  color: rgb(255, 255, 255);
  line-height: 120px;
  font-size: 130px;
  color: var(--background);
  /* font-style: italic; */
}

.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color: var(--background);
  font-size: 30px;
  padding: 3rem;
  font-family: arial;
}
.text{
  font-size: 21px;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--background);
  font-family: helvetica;
  line-height: 35px;
  color: var(--background);
  padding: 0 3rem;
}
.image_container{
  position: absolute;
  overflow: hidden;
  width: 30%;
  height: 60%;
  top: 30%;
  left: 10%;
}
.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.back{
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  opacity: 0;
}
.another_section{
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: var(--background);
  /* background-color: var(--foreground); */
}
.project{
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 250px;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
.section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100vw;
}
.section > div{
  border-right: 1px solid rgba(255, 255, 255, 0.192);
}
.project > span{
  line-height: 0;
  position: relative;
    color: var(--background);
    mix-blend-mode: difference;
}
.p,.r,.e{
  z-index: 7;
}
.o,.c{
  z-index: 4;
}
.project1{
  /* width: 850px; */
  left: 1700px;
  z-index: 8;
}
.project2{
  width: 500px;
  left: 3000px;
  z-index: 5;
}
.pj{
  position: absolute;
  height: 400px;
  width: max-content;
  cursor: pointer;
}
.layer{
  height: 550;
  width: 420;
  position: absolute;
  top: -68%;
  right: 11%;
  z-index: 0;
  background-color: var(--foreground);
}
.another_container{
  position: relative;
  height: 100vh;
  padding: 5rem 3rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background);
}
.contact_us{
  color: var(--foreground);
  font-size: 150px;
  line-height: 120px;
}
.card{
  position: absolute;
  bottom:-10%;
  display: flex;
  justify-content: center;
}
.title{
  font-size: 20px;
  font-weight: bold;
}