.base_container{
  display: none;
}
.main_container{
  /* overflow: hidden;
  height: 0; */
  position: relative;
  background-color: var(--foreground);
  opacity: 0;
}
.hero_section{
  height: 200vh;  
  background-color: var(--background);
}
.intro{
  display: flex;
  justify-content: flex-end;
  position: sticky;
  font-size: 110px;
  line-height:85px;
  top: 0;
  left: 0;
  height: 50%;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  mix-blend-mode: difference;
  overflow: hidden;
}
.introtexte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  mix-blend-mode: difference;
}
.pic{
  z-index: -1;
  overflow: hidden;
  position: absolute;
  /* bottom: 12%; */
  top: 10%;
  left: 17%;
  height: 70vh;
  width: 20vw;
}
.pic2{
  z-index: -1;
  overflow: hidden;
  position: absolute;
  right: 17%;
  bottom: 10%;
  height: 70vh;
  width: 20vw;
}
.code{
  margin-left: 25%;
}
.deploy{
  margin-left: 10%;
}
.dot{
  line-height: 0;
  font-size: 70px;
  color: red;
}
.service_container{
  color: var(--background);
  position: absolute;
  display: grid;
  grid-template-rows:repeat(2,1fr);
  height: 100vh;
  background-color: var(--foreground);
}
.services{
  overflow: hidden;
  display: flex;
  gap: 5.5rem;
  align-items: center;
  line-height: initial;
  height: fit-content;
  height: 100%;
}
.services_text{
  position: sticky;
  z-index: 3;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  line-height: 9vw;
  font-size: 8vw;
  color: var(--background);
  white-space: nowrap;
  padding:0 4rem;
  /* font-style: italic; */
}

.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color: var(--background);
  font-size: 30px;
  padding:0 3rem;
  font-family: arial;
}
.about > div{
  position: relative;
}
.text{
  font-size: 21px;
  text-align: justify;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  color: var(--background);
  font-family: helvetica;
  line-height: 35px;
  color: var(--background);
  padding: 0 3rem;
}
.image_container{
  position: absolute;
  overflow: hidden;
  width: 30%;
  height: 60%;
  top: 30%;
  left: 10%;
}
.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.back{
  position: relative;
  height: 100%;
  display: flex;
  grid-template-columns: repeat(5,1fr);
  opacity: 0;
  width: max-content;
}
.another_section{
  position: relative;
  height: 100vh;
  width: 100vw;
  color: var(--background);

}
.project{
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 20vw;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.section{
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(2,1fr);
  /* border-right: 1px solid rgba(255, 255, 255, 0.192); */
}
.section > div{
  border-right: 1px solid rgba(255, 255, 255, 0.192);
}
.project > span{
  line-height: 0;
  position: relative;
    color: var(--background);
    mix-blend-mode: difference;
}
.p,.r,.e{
  z-index: 7;
}
.o,.c{
  z-index: 4;
}
.project1{
  /* width: 850px; */
  left: 1700px;
  z-index: 8;
}
.project2{
  width: 500px;
  left: 3000px;
  z-index: 5;
}
.pj{
  position: absolute;
  height: 400px;
  width: max-content;
  cursor: pointer;
}
.layer{
  height: 550;
  width: 420;
  position: absolute;
  top: -68%;
  right: 11%;
  z-index: 0;
  background-color: var(--foreground);
}
.contact_main_container{
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  background-color: var(--background);
}
.another_container{
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.card{
  position: absolute;
  bottom:-10%;
  display: flex;
  justify-content: center;
}
.title{
  font-size: 20px;
  font-weight: bold;
  color: var(--foreground);
}
.bar{
  width: 5vw;
  height: 9px;
  margin:0 1.5rem;
  background-color: var(--background);
}
.contact,.contact_me{
  font-size: 20px;
  /* font-weight: bold; */
}
.link_contact{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  color: rgb(167, 167, 167);
  gap: 1rem;
}
.link_container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.menu_link:hover .icon{
  transform: rotate(0);
  transition: 0.2s;
  color: rgb(138, 138, 138);
}
.contact_container{
  display: flex;
  height: fit-content;
  padding: 3rem 7rem;
} 
.talk{
  padding: 2rem 3rem;
}
.contact_me{
  height: 100%;
  display: flex;
  padding: 0 3rem;
  font-size: 100px;
  line-height: 80px;
  padding-top: 7rem;
  background-color: var(--foreground);
  color: var(--background);
}
.scroll{
  position: absolute;
  bottom: 10%;
  font-size: 25px;
  color: var(--foreground);
}
@media (max-width:985) {
  .intro{
    font-size: 70px;
    line-height: 55px;
  }
  .about{
    display: flex;
  }
}
@media (max-width:630) {
  .main_container{
    display: none;
  }
  .base_container{
    display: initial;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground);
    background-color: var(--background);
  }
}