.base_container{
  display: none;
}
.main_container{
  position: relative;
  overflow: hidden;
  background-color: var(--foreground);
  opacity: 0;
  height: 0;
}
.hero_section{
  height: 200vh;  
  background-color: var(--background);
}
.intro{
  display: flex;
  justify-content: flex-end;
  position: sticky;
  font-size: 110px;
  line-height:85px;
  top: 0;
  left: 0;
  height: 50%;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  overflow: hidden;
}
.introtexte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  mix-blend-mode: difference;
}
.pic{
  z-index: -1;
  overflow: hidden;
  position: absolute;
  display: flex;
  top: 10%;
  left: 17%;
  height: 70vh;
  width: 20vw;
}
.pic2{
  z-index: -1;
  overflow: hidden;
  position: absolute;
  right: 17%;
  bottom: 10%;
  height: 70vh;
  width: 20vw;
}
.code{
  margin-left: 25%;
}
.deploy{
  margin-left: 10%;
}
.dot{
  line-height: 0;
  font-size: 70px;
  color: red;
}
.service_container{
  color: var(--background);
  position: absolute;
  display: grid;
  grid-template-rows:1fr 2fr;
  height: 100vh;
  background-color: var(--foreground);
}
.services{
  overflow: hidden;
  display: flex;
  gap: 5.5rem;
  align-items: center;
  line-height: initial;
  height: fit-content;
  height: 100%;
}
.services_text{
  z-index: 3;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  line-height: 9vw;
  font-size: 8vw;
  color: var(--background);
  white-space: nowrap;
}

.about{
  display: grid;
  grid-template-columns: 8fr 1fr;
  padding:0 10vw;
  font-family:Poppins;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about > div{
  position: relative;
}
.text{
  font-size: 2.25vw;
  color: var(--background);
}
.image_container{
  position: absolute;
  overflow: hidden;
  width: 30%;
  height: 60%;
  top: 30%;
  left: 10%;
}
.image{
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
.images{
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow:15px 15px 30px var(--background);
}
.back{
  position: relative;
  height: 100%;
  display: flex;
  opacity: 0;
  width: max-content;
}
.another_section{
  position: relative;
  height: 100vh;
  width: 100vw;
  color: var(--background);

}
.project{
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 17.7vw;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.section{
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(2,1fr);
}
.grid{
  border-left: 2px solid rgb(39, 39, 39);
  position: relative;
  opacity: 0;
}
.number{
  position: absolute;
  top: 10;
  left:20;
  color: rgb(49, 49, 49);
  font-family:Poppins;
  font-weight: 100;
  font-size: 60;
  opacity: 0;
}
.project > span{
  line-height: 0;
  position: relative;
  font-family: Poppins;
}
.p,.r,.e{
  z-index: 7;
}
.o,.c{
  z-index: 4;
}
.project1{
  left: 1500px;
  z-index: 8;
}
.project2{
  width: 500px;
  left: 3000px;
  z-index: 5;
}
.pj{
  position: absolute;
  height: 60vh;
  width: 25vw;
  cursor: pointer;
}
.layer{
  height: 550;
  width: 420;
  position: absolute;
  top: -68%;
  right: 11%;
  z-index: 0;
  background-color: var(--foreground);
}
.contact_main_container{
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
  background-color: var(--background);
}
.another_container{
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 4vw 8.5vw;
}
.card{
  position: absolute;
  bottom:-10%;
  display: flex;
  justify-content: center;
}
.title{
  font-size: 20px;
  font-family: Poppins ;
  /* font-weight: bold; */
  color: var(--foreground);
}
.bar{
  width: 5vw;
  height: 9px;
  margin:0 3rem;
  background-color: var(--background);
}
.bars{
  width: 5vw;
  height: 9px;
  margin-right: 3rem;
  background-color: var(--background);
}
.contact,.contact_me{
  font-size: 20px;
  font-family: Poppins;
}
.link_contact{
  display: flex;
  align-items: center;
  width: fit-content;
  color: rgb(167, 167, 167);
  gap: 1rem;
}
.link_container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.menu_link:hover .icon{
  transform: rotate(0);
  transition: 0.2s;
  color: rgb(138, 138, 138);
}
.contact_container{
  display: flex;
  height: fit-content;
  /* padding: 0.5vw 20vw; */
} 
.contact_me{
  width: 100%;
  display: flex;
  padding: 5vw 8vw;
  font-size: 9vw;
  line-height: 7vw;
}
.scroll{
  position: absolute;
  bottom: 10%;
  font-size: 25px;
  color: var(--foreground);
}
@media (max-width:1020) {
  .base_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  .main_container{
    display: none;
  }
}