.main_container{
  background-color: var(--background);
}
.hero_section{
  height: 177vh;
  width: 100%;
  background-color: var(--background);
}
.intro{
  display: flex;
  align-items: flex-end;
  position: sticky;
  font-size: 100px;
  top: 0;
  left: 0;
  line-height: 80px;
  height: 45%;
}
.menu,.logo{
  z-index: 10;
  position: fixed;
  mix-blend-mode: difference;
  right: 30px;
  top: 20px;
  font-size: 25px;
}
.logo{
  /* right: initial; */
    left: 30px;
}
.service_container{
  font-size: 130px;
  color: var(--background);
  position: absolute;
  display: grid;
  grid-template-rows:1fr 1fr 2fr;
  height: 100%;
  width: 100%;
  background-color: var(--foreground);
}
.services{
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  gap: 5.5rem;
  align-items: center;
  line-height: initial;
  height: fit-content;
}
.services_text{
  display: flex;
}
.services_text > p{
  color: var(--background);
}
.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color: var(--background);
  font-size: 30px;
  padding: 3rem 2rem;
}
.text{
  color: var(--background);
}
.image_container{
  position: absolute;
  overflow: hidden;
  width: 30%;
  height: 60%;
  top: 30%;
  left: 10%;
}
.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.back{
  position: absolute;
  height: 100%;
  width: 400vw;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  z-index: 5;
}
.another_section,.another_container{
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: var(--background);
}
.project{
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 250px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.section > div{
  border-right: 1px solid rgba(255, 255, 255, 0.192);
}
.project > span{
  position: relative;
}
.p,.r,.e{
  z-index: 7;
}
.o,.c{
  z-index: 6;
}
.project1{
  position: absolute;
  overflow: hidden;
  height: 500px;
  width: 300px;
  top: 200px;
  left: 1000px;
  z-index: 3;
}
.project2{
  position: absolute;
  overflow: hidden;
  height: 500px;
  width: 300px;
  top: 100px;
  left: 3000px;
  z-index: 5;
}