.splash_content,.splash_contents{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 0;
    background-color:var(--foreground);
    overflow: hidden;
}
.splash_contents{
    background-color:var(--background);
}
.welcome{
    font-family: helvetica;
    color: var(--foreground);
    font-size:6vw;
    line-height: 4.7vw;
    transform: translateY(100%);
    overflow: hidden;
}
.welcome_container{
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    padding: 2vw;
    overflow: hidden;
}
.sub_container{
    white-space: nowrap;
    overflow: hidden;
    height: fit-content;
    width: fit-content;
}
@media (max-width:768) {
    .welcome_container{
        align-items: center;
    }
    .welcome{
        font-size: 10vw;
        line-height: 9vw;
    }
}
@media (max-width:1024) {
    .welcome_container{
        align-items: center;
    }
    .welcome{
        font-size: 15vw;
        line-height: 12vw;
    }
}