.splash_main_container{
    z-index: 11;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    top: 0;
}
.splash_content{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    height: 0;
    width: 0;
    background-color: var(--foreground);
    overflow: hidden;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
}
.welcome{
    overflow: hidden;
}
.welcome > div {
    transform: translateY(100%);
}