.menu_main_container{
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: var(--background);
}
.menu_main_container > div{
  display: flex;
  font-family: helvetica;
}
.link_container{
overflow: hidden;
width: fit-content;
}
.copyright{
  font-size: 15px;
  font-family: Helvetica;
  padding:4rem;
  font-weight: bold;
}
.menu_container{
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 5vw;
  z-index: 11;
  height: 40vh;
  display: flex;
  overflow: hidden;
  gap: 0.2rem;
}
.menu_back{
  overflow: hidden;
  color: var(--background);
  z-index: 8;
  position: fixed;
  width: 100%;
  background-color:var(--foreground);
  bottom: 0;
  font-size: 100px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.menu_back > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--background);
  padding: 3rem;
}
.menu_back,.menu_container,.menu_main_container{
  height: 0;
}
.menu_container,.menu_main_container{
  width: 100%;
}
.close{
  cursor: pointer;
}
.menu:hover,.close:hover{
  color: rgba(224, 224, 224, 0.637);
}
.link{
  position: relative;
  padding: 0rem 3rem;
  height: fit-content;
  cursor: pointer;
  font-size: 60px;
  color: var(--foreground);
  font-weight: bold;
  line-height: 50px;
}
.link:hover{
  color: rgba(224, 224, 224, 0.637);
}
.close{
  position: absolute;
  top : 20px;
  right: 30px;
  font-size: 20px;
}
.menu,.logo{
  z-index: 7;
  position: fixed;
  mix-blend-mode: difference;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
}
.logo{
  right: initial;
    left: 30px;
}
.txt:hover,.menu > div:hover{
  color:rgb(138, 138, 138);
}
.menu_link{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}
.icon{
  color: var(--background);
  transform: rotate(-40deg);
  transition: 0.2s;
}
.menu_link:hover .icon{
  transform: rotate(0);
  transition: 0.2s;
  color: rgb(138, 138, 138);
}
@media (max-width:425) {
 .menu_main_container{
  display: flex;
 }
 .copyright{
  display: none;
 }
}