.menu_main_container{
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: var(--background);
}
.link_container{
overflow: hidden;
width: fit-content;
}
.copyright{
  font-size: 1vw;
  padding:7.5vh 5vw;
  font-weight: bold;
  width: 100%;
}
.menu_container{
  flex-direction: column;
  margin-top: 7vh;
  z-index: 11;
  display: flex;
  overflow: hidden;
}
.menu_back{
  overflow: hidden;
  color: var(--background);
  z-index: 8;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(1px);
  bottom: 0;
  font-size: 7vw;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.copy,.soclink {
  position: absolute;
  display: flex;
  color: var(--foreground);
  gap: 1.5vw;
  bottom: 5vh;
}
.menu_back,.menu_container,.menu_main_container{
  height: 0;
}
.menu_container,.menu_main_container{
  width: 100%;
}
.close{
  cursor: pointer;
}
.menu:hover,.close:hover{
  color: rgba(224, 224, 224, 0.637);
}
.link{
  position: relative;
  height: fit-content;
  cursor: pointer;
  font-size: 5vw;
  color: var(--foreground);
  font-weight: bold;
  line-height: 4vw;
}
.link:hover{
  color: rgba(224, 224, 224, 0.637);
}
.close{
  position: absolute;
  top : 2vw;
  right: 3vw;
  font-size: 1.5vw;
}
.menu,.logo{
  z-index: 7;
  position: fixed;
  mix-blend-mode: difference;
  right: 3.5vw;
  top: 2vw;
  font-size: 1.7vw;
  cursor: pointer;
}
.logo{
  right: initial;
  left: 3.5vw;
}
.txt:hover,.menu > div:hover{
  color:rgb(138, 138, 138);
}
.menu_link{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  font-weight: lighter;
  text-decoration: underline;
  font-family: Poppins;
}
.icon{
  color: var(--foreground);
  transform: rotate(-40deg);
  transition: 0.2s;
}
.menu_link:hover,.icon:hover{
  transform: rotate(0);
  transition: 0.2s;
  color: rgb(138, 138, 138);
}
@media (max-width:1024px) {
  .menu_back div:first-child{
    padding: 0 5vw;
  }
 .link{
  line-height: 5vw;
 }
 .copy{
  display: none;
 }
 .menu_back{
  display: flex;
 }
 .soclink{
  width: 100%;
 }
 .copyright{
  display: none;
 }
 .link{
  font-size: 5vh;
  line-height: 5vh;
 }
 .menu_container{
  display: flex;
  justify-content: center;
  padding:0 5vw;
 }
 .menu_main_container{
  display: flex;
 }
 .menu_link{
  font-size: 5vw;
 }
 .soclink{
  padding: 0 5vw;
 }
 .close,.logo,.menu{
  font-size: 2vw;
 }
}
@media (max-width:768) {
 .close,.logo,.menu{
  font-size: 5vw;
 }
}