@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

body {
  position: relative;
  margin: auto;
  font-family:Poppins;
  user-select: none;
}
*{
  scrollbar-width: none;
  padding: 0;
}
:root {
  --foreground: rgb(255, 255, 255);
  --background: rgb(10, 10, 10);
}