@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #e9e9e9;
  }
}

body {
  position: relative;
  margin: auto;
  background: var(--background);
  color: var(--foreground);
  font-family:Helvetica;
  user-select: none;
}
*{
  scrollbar-width: none;
  padding: 0;
}
